*{
          margin: 0;
}
.App {
          background-color: #fafafa;
          height: 100vh;
}

.App_posts {
          padding: 20px;
          display: flex;
          justify-content: center;
}
.App_postRight {
          margin-left: 20px;
}

.App_header {
          position: fixed;
          width: 97%;
          top: 0;
          background-color: white;
          z-index: 1;
          padding: 20px;
          border-bottom: 1px solid lightgray;
          object-fit: contain;
          display: flex;
          justify-content: space-between;

}

.App_headerImage {
          object-fit: contain;

}

.App_signup {
          display: flex;
          flex-direction: column;
}


